
.row {
	text-align: center;
}

 
  .textField {
    font-family: Roboto, serif;
    font-size: 32px;
  }

  #icon {
    font-size: 100px;
  }


@media screen and (max-width: 410px){
  .textField {
  font-family: Roboto, serif;
  font-size: 20px;
}

#icon {
  font-size: 70px;
} 
}

